<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <div class="text-center">
                <img src="/static/img/logo.png">
            </div>
            <p>
                <a href="https://www.douban.com/service/auth2/auth?client_id=0d9a0fb718d8510628ce2f254a88f312&redirect_uri=http://douban2ucas.sinaapp.com/auth/&response_type=code">
                    <img src="http://img3.douban.com/pics/douban-icons/login_with_douban_32.png" alt="豆瓣图标">
                </a>
            </p>
        </div>
    </div>
</div>
